<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Accounts Summary</title>
</head>
<body>
    @*Sample Code with JS-Render*@
    @*<script id="accountsTemplate" type="text/x-jsrender">
    
    <table style="width: 100%;">
    <tr>
        <td>{{>Id}}</td>
        <td>{{>Balance}}</td>
        <td>{{>NickName}}</td>
    </tr>
    </table>
</script>
    <div id="results"></div>*@
    <h1>Financial Overview Page</h1>
    <label id="error"></label>
    <script type="text/html" id="summary-template">
        <tr>
            <td data-bind="text: Id,click: $root.goToAccount" title="click to get balance"></td>
            <td data-bind="text: NickName"></td>
        </tr>
    </script>

    <table style="border: thick; width: 70%">
        <thead>
            <tr>
                <th>Account Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'summary-template', foreach: accountsSummary }">
        </tbody>
    </table>

    <!-- Account Details -->
    <div data-bind="with: chosenAccountDetails">
        <label>Account Balance:</label>
        <h4 data-bind="text: Balance"></h4>
    </div>
</body>
</html>